@font-face {
  font-family: "FuturaBookC";
  src: url(./assets/fonts/FuturaBookCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: url(./assets/fonts/FuturaDemiCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url(./assets/fonts/FuturaMediumCRegular.otf) format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  src: url(./assets/fonts/ProximaNovaRegular.otf) format("truetype");
}

@font-face {
  font-family: "Yeseva One";
  src: url(./assets/fonts/YesevaOneRegular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.wrapper {
  @media screen and (min-width: 1441px) {
    width: 1440px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 375px) {
    width: 375px;
  }
}

.header {
  display: flex;

  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;

  padding: 0 5.7% 0 5.7%;

  font-family: "FuturaDemic";
  font-size: 14px;

  background-color: #131313;

  &--logo {
    color: #E3B873;
  }

  &--nav {
    flex: 2;
    margin: 0 67px 0 67px;

    font-family: "FuturaBookC";
  }

  &--list {
    display: flex;

    justify-content: space-around;

    list-style-type: none;
  }

  &--list-item {
    color: white;
  }

  &--list-item:hover {
    color: #E3B873;
    cursor: pointer;
  }

  &--tel {
    color: #E3B873;
  }

  &--button {
    height: 37px;
    width: 161px;
    margin-left: 45px;

    font-size: 13px;
    border: 0;
    color: white;

    background-color: #E3B873;
  }

  &--button:hover {
    cursor: pointer;

    color: grey;

    background-color: white;
  }
}