$someBlack: #131313;
$mainColor: #E3B873;


@font-face {
  font-family: "FuturaBookC";
  src: url(./assets/fonts/FuturaBookCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: url(./assets/fonts/FuturaDemiCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url(./assets/fonts/FuturaMediumCRegular.otf) format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  src: url(./assets/fonts/ProximaNovaRegular.otf) format("truetype");
}

@font-face {
  font-family: "Yeseva One";
  src: url(./assets/fonts/YesevaOneRegular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  @media screen and (min-width: 1441px) {
    width: 1440px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 375px) {
    width: 375px;
  }
}

.header {
  display: flex;

  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;

  padding: 0 5.7% 0 5.7%;

  font-family: "FuturaDemic";
  font-size: 14px;

  background-color: $someBlack;

  &--logo {
    color: $mainColor;
  }

  &--nav {
    flex: 2;
    margin: 0 4.65% 0 4.65%;

    font-family: "FuturaBookC";
  }

  &--list {
    display: flex;

    justify-content: space-around;

    list-style-type: none;
  }

  &--list-item {
    color: white;
  }

  &--list-item:hover {
    color: $mainColor;
    cursor: pointer;
  }

  &--tel {
    color: $mainColor;
  }

  &--button {
    height: 37px;
    width: 161px;
    margin-left: 45px;

    font-size: 13px;
    border: 0;
    color: white;

    background-color: $mainColor;
  }

  &--button:hover {
    cursor: pointer;

    color: grey;

    background-color: white;
  }
}

main {

}

.calculate {
  display: flex;
  flex-wrap: wrap;

  background-color: $someBlack;

  &--instagram{
    display: grid;
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: repeat(6, 12%);

    width: 5.7%;
    height: 707px;

    font-family: "FuturaDemiC";
  }

  &--instagram-link {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: $mainColor;
    text-decoration: none;

    transform: rotate(90deg);
  }

  &--instagram-line {
    grid-column: 2 / 3;
    margin-left: 5px;
    grid-row: 5 / 6;
    height: 2px;
    width: 40px;
    background-color: $mainColor;

    transform: rotate(90deg);
  }

  &--main-container {
    background-image: url('./assets/images/calculate.png');
    width: 94.3%;
    padding-left: 70px;

    color: white;
  }

  &--head-container {
    height: 100px;
    width: 550px;
    margin-top: 190px;

    font-family: "Yeseva One";
    font-size: 40px;
    text-transform: uppercase;
  }

  &--head-colored {
    color: $mainColor;
  }

  &--text-container {
    width: 400px;
    margin-top: 10px;

    font-family: "FuturaBookC";
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
  }

  &--button-container {
    margin-top: 40px;
  }

  &--button {
    width: 207px;
    height: 51px;
    margin-right: 15px;

    color: white;
    font-family: "FuturaDemiC";
    
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
  }

  &--button:hover {
    background: $mainColor;
    cursor: pointer;
  }

  &--scroll-wrapper {
    width: 247px;
    height: 97px;
    margin-top: -40px;

    font-family: "Yeseva One";
    font-size: 14px;
    color: white;
    background: $someBlack;
  }

  &--scroll {
    display: flex;
    padding-top: 30px;

    justify-content: center;
    align-items: center;
  }

  &--scroll-img {
    margin-left: 10px;
  }

  &--scroll-wrapper:hover {
    background: white;
    color: gray;
    cursor: pointer;
  }
}

.completed-projects {
  display: grid;
  grid-template-areas: 
  ". nav ."
  "head slider slider"
  "main slider slider";
  grid-template-rows: 130px 184px 364px;
  grid-template-columns: 41% 49% 10%;

  height: 678px;

  font-family: "Yeseva One";

  background: $someBlack;

  &--nav {
    grid-area: nav;
    display: flex;
    align-items: center;

    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
  }

  &--nav-text-wrapper {
    flex: 1;

    text-align: center;
  }

  &--nav-text-wrapper:hover {
    color: $mainColor;
    text-decoration: underline;
    cursor: pointer;
  }

  &--head {
    grid-area: head;

    padding-left: 15%;
  }

  &--head-wrapper {
    display: flex;

    font-size: 16px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: 100;
    color: $mainColor;
  }

  &--head-line {
    height: 2px;
    width: 90px;
    margin-top: 55px;

    background-color: $mainColor;
  }

  &--text-wrapper {
    width: 78%;
    margin-top: 35px;

    font-family: "FuturaBookC";
    font-size: 16px;
    line-height: 29px;
    font-weight: 100;
    color: white;
  }

  &--main {
    grid-area: main;
    margin-top: 60px;

    display: flex;
    flex-wrap: wrap;
  }

  &--info-wrapper {
    width: 43%;
    text-align: center;
  }

  &--info-wrapper-head {
    font-family: "Yeseva One";
    font-size: 16px;
    line-height: 25px;
    font-weight: 100;
    color: $mainColor;
  }

  &--info-wrapper-text {
    font-family: "FuturaBookC";
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    color: white;
  }

  &--arrows {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: 14%;
  }

  &--arrows-left:hover,
  &--arrows-right:hover,
  &--circle:hover {
    cursor: pointer;
  }

  &--circle {
    width: 10px;
    height: 10px;

    border-radius: 40%;
    background: rgba(255, 255, 255, 0.3);
  }

  &--circle-white {
    background: white;
  }

  &--slider {
    grid-area: slider;

    overflow-x: hidden;

    display: flex;
    position: relative;
  }

  &--image-second {
    padding-left: 3%;
  }

  &--slider-button {
    position: absolute;
    top: 35%;
    left: 87%;
  }

  &--slider-button:hover {
    cursor: pointer;
  }
}

.online-control {
  position: relative;
  height: 541px;
  &--back-1{
    height: 341px;
    width: 100%;
    background: $someBlack;
    position: absolute;
    z-index: -1;
  }
  &--back-2{
    width: 100%;
    height: 200px;
    background: white;
    position: absolute;
    z-index: -1;
    top: 342px;
  }

  &--head {
    font-family: "Yeseva One";
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: white;
  }

  &--icon {
    margin-top: 10px;
  }

  &--video {
    width: 917px;
    margin: 0 auto;
  }
}

.broadcast {
  height: 560px;
  width: 100%;

  text-align: center;

  background: white;

  &--icon {
    width: 55px;
    height: 2px;
    margin: 60px auto 40px;

    background: $mainColor;
  }

  &--text-container {
    width: 681px;
    margin: 0 auto;

    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #363636;
  }

  &--form {
    margin-top: 80px;

    font-family: "FuturaBookC";
  }

  &--form-label-container {
    display: flex;

    width: 18.75%;
    justify-content: space-between;
    margin-left: 24.3%;

    font-size: 15px;
    line-height: 20px;

    color: rgba(54, 54, 54, 0.5);
  }
  
  &--form-name {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  }

  &--form-tel {
    margin-left: 60px;
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  }

  &--form-button {
    width: 200px;
    height: 51px;
    margin-left: 130px;

    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    border: none;

    background: $mainColor;
    color: white;
  }

  &--form-check {
    margin-top: 40px;

    font-size: 16px;
    line-height: 22px;
  }
}

.types-of-repair {
  height: 820px;
  width: 100%;

  &--head{
    margin: 0 auto;
    height: 107px;
    width: 198px;
    font-family: "Yeseva One";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  &--head-icon {
    margin-top: 10px;
  }

  &--content {
    display: flex;

    width: 100%;
    padding: 0 5% 0 5%;
    justify-content: space-around;
  }

  &--column,
  &--image {
    position: relative;
  }

  &--list-container {
    position: absolute;
    top: 300px;
    left: 35px;
    width: 83%;
    height: 286px;
    padding: 20px 0 0 30px;
    z-index: 2;

    background: white;
  }

  &--list-container-text{
    font-family:"Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: #363636;
  }

  &--list {
    padding-left: 15px;

    font-family:"FuturaBookC";
    font-size: 15px;
    line-height: 25px;

    color: #959595;
  }

  &--price {
    width: 228px;
    height: 54px;
    position: absolute;
    padding-top: 15px;
    top: 550px;
    left: 35px;

    font-family:"Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-align: center;
    vertical-align: center;
    z-index: 2;

    background: $mainColor;
  }
}

.free-departure-request {
  display: flex;
  justify-content: space-between;

  height: 725px;
  width: 100%;

  &--picture-section {
    width: 691px;
  }

  &--house-picture {
  }

  &--circle {
    position: relative;
    height: 636px;
    width: 700px;
    top: -600px;
    left: -200px;

    border: 3px solid $mainColor;
    border-radius: 50%;

    font-family:"FuturaMediumC";
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }

  &--circle-1 {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 570px;
    width: 450px;
    align-items: center;
  }

  &--circle-2 {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 180px;
    left: 644px;
    width: 420px;
    align-items: center;
  }

  &--circle-3 {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 330px;
    left: 662px;
    width: 420px;
    align-items: center;
  }

  &--circle-4 {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 490px;
    left: 585px;
    width: 420px;
    align-items: center;
  }

  &--inside-circle {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    flex: 0 0 60px;

    text-align: center;

    border-radius: 50%;
    border: 9px solid white;
    color: white;

    background: $mainColor;
  }

  &--form-section {
    width: 35.2%;
    padding-top: 125px;

    color: white;
  }

  &--form-container {
    width: 100%;
    height: 506px;
    margin: 0 auto;
    padding-top: 20px;
    background: $someBlack;

    text-align: center;
  }

  &--form-text-container {
    width: 290px;
    margin: 0 auto;

    font-family:"FuturaDemiC";
    font-size: 20px;
    line-height: 25px;
  }

  &--form {
    width: 85%;
    margin: 0 auto;
    text-align: start;
  }

  &--name-container,
  &--tel-container,
  &--mail-container {
    padding-top: 35px;
    width: 100%;
    text-align: start;

    font-family:"FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &--name-container input,
  &--tel-container input,
  &--mail-container input {
    width: 100%;

    font-family:"FuturaMediumC";
    font-size: 18px;
    line-height: 25px;
    color: white;
    border: none;

    background: $someBlack;
  }

  &--name-container input::-webkit-input-placeholder {
    color: white;
  } 
  &--name-container input::-moz-placeholder {
    color: white;
  }

  &--tel-container input::-webkit-input-placeholder {
    color: white;
  } 
  &--tel-container input::-moz-placeholder {
    color: white;
  }

  &--mail-container input::-webkit-input-placeholder {
    color: white;
  } 
  &--mail-container input::-moz-placeholder {
    color: white;
  }

  &--form-checkbox {
    margin-top: 25px;

    font-family:"FuturaBookC";
    font-size: 16px;
    line-height: 22px;
    color: white;
  }

  &--button {
    width: 213px;
    height: 51px;
    margin: 50px 0 0 50%;

    font-family:"FuturaBookC";
    font-size: 16px;
    line-height: 22px;
    color: white;

    background: $mainColor;
  }

  &--foot {
    display: flex;

    align-items: center;
    width: 350px;

    font-family: "FuturaDemiC";
    font-size: 20px;
    line-height: 25px;
    color: $mainColor;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  }

  &--foot img {
    margin-top: 13px;
  }
}

.wildest-fantasies {
  display: flex;

  width: 100%;
  height: 1146px;

  background: url(./assets/images/wildestfantasies.png) no-repeat;
  background-position-y: 243px;

  &--list-container {
    width: 30%;
    padding: 26% 0 0 7%;
  }

  &--list-head {
    width: 80%;
    

    font-family:"Yeseva One";
    font-size: 27px;
    line-height: 37px;
    color: $mainColor;
  }

  &--photo-container {
    width: 70%;
  }

  &--list {
    padding-top: 45px;

    font-family: "ProximaNova";
    font-size: 19px;
    line-height: 49px;
    font-weight: 100;
    color: white;
    list-style: none;
  }

  &--list-item:hover {
    text-decoration: underline;
    text-decoration-color: $mainColor;
    color: $mainColor;
    cursor: pointer;
  }

  &--photo-container {
    position: relative;
  }

  &--photo-1{
    position: absolute;
    top: 200px;
    left: 150px;
  }

  &--photo-2{
    position: absolute;
    top: 130px;
    left: 550px;
  }

  &--photo-3{
    position: absolute;
    top: 800px;
    left: 150px;
  }

  &--photo-4{
    position: absolute;
    top: 440px;
    left: 550px;
  }
}

.design-projects {
  height: 580px;
  width: 100%;
  
  font-family: "Yeseva One";

  &--head {
    text-align: center;
    padding-top: 112px;
  }

  &--head-text {
    font-family:"Yeseva One";
    font-size: 20px;
    line-height: 28px;
  }

  &--head-icon {
    margin: 15px 0 20px 0;
  }

  &--head-paragraph {
    display: inline-block;
    width: 50%;

    text-align: center;
    font-family:"FuturaBookC";
    font-size: 20px;
    line-height: 27px;
    color: #363636;
  }

  &--content {
    display: flex;

    width: 100%;
    padding: 39px 5% 0 5%;
    justify-content: space-around;
  }

  &--column,
  &--image {
    position: relative;
  }

  &--list-container-1 {
    position: absolute;
    top: 294px;
    left: 35px;
    width: 83%;
    height: 211px;
    padding: 20px 0 0 30px;
    z-index: 2;

    background: white;
  }

  &--list-container-2 {
    position: absolute;
    top: 294px;
    left: 35px;
    width: 83%;
    height: 286px;
    padding: 20px 0 0 30px;
    z-index: 2;

    background: white;
  }

  &--list-container-3 {
    position: absolute;
    top: 294px;
    left: 35px;
    width: 83%;
    height: 414px;
    padding: 20px 0 0 30px;
    z-index: 2;

    background: white;
  }

  &--list-container-text{
    font-family:"Yeseva One";
    font-size: 15px;
    line-height: 25px;
    color: #363636;
  }

  &--list {
    padding-left: 15px;

    font-family:"FuturaBookC";
    font-size: 15px;
    line-height: 25px;

    color: #959595;
  }

  &--price-1 {
    width: 228px;
    height: 54px;
    position: absolute;
    padding-top: 15px;
    top: 475px;
    left: 35px;

    font-family:"Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-align: center;
    vertical-align: center;
    z-index: 2;

    background: $mainColor;
  }

  &--price-2 {
    width: 228px;
    height: 54px;
    position: absolute;
    padding-top: 15px;
    top: 550px;
    left: 35px;

    font-family:"Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-align: center;
    vertical-align: center;
    z-index: 2;

    background: $mainColor;
  }

  &--price-3 {
    width: 228px;
    height: 54px;
    position: absolute;
    padding-top: 15px;
    top: 675px;
    left: 35px;

    font-family:"Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-align: center;
    vertical-align: center;
    z-index: 2;

    background: $mainColor;
  }
}

.working {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 1140px;
  padding: 464px 0 0 5.5%;

  font-family: "Yeseva One";
  background: $someBlack;

  &--head {
    display: flex;
    flex-wrap: wrap;

    width: 317px; //337
    height: 100px;
    margin-left: -20px;
  }

  &--head-header{
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    color: white;
  }

  &--head-text {
    font-size: 27px;
    line-height: 37px;
    color: $mainColor;
  }

  &--head-line {
    width: 92px;
    height: 1px;
    margin: 55px 0 0 31px;
    background: $mainColor;
  }

  &--steps {
    width: 765px;
    margin-left: 120px;
  }

  &--list {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;

    list-style: none;
  }

  &--step {
    width: 33%;
    padding-bottom: 30px;

    color: white;
    opacity: 0.3;
  }

  &--step:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration-color: rgba(227, 184, 115, 1);
  }

  &--step-head {
    font-size: 15px;
    line-height: 21px;

    text-decoration: underline;
    text-decoration-color: rgba(227, 184, 115, 0.5);
  }

  &--step-text {
    font-family:"FuturaBookC";
    font-size: 15px;
    line-height: 18px;
  }

  &--text-container {
    width: 331px;
    margin-top: -100px;
  }

  &--text-container-number {
    font-size: 18px;
    line-height: 25px;
    color: white;
  }

  &--text-container-step-text {
    margin-top: 15px;

    font-size: 15px;
    line-height: 23px;
    color: $mainColor;
  }

  &--text-container-text {
    margin-top: 10px;

    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: white;
  }

  &--picture {
    margin-left: 170px;
  }

  &--arrows {
    width: 287px;
    margin-top: 80px;
  }

  &--arrows-fig {
    display: flex;

    width: 100%;
    justify-content: space-between;
  }

  &--arrows-fig img:hover {
    cursor: pointer;
  }

  &--circle {
    width: 11px;
    height: 11px;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }

  &--circle:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
}