@font-face {
  font-family: "FuturaBookC";
  src: url(./assets/fonts/FuturaBookCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: url(./assets/fonts/FuturaDemiCRegular.otf) format("truetype");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url(./assets/fonts/FuturaMediumCRegular.otf) format("truetype");
}

@font-face {
  font-family: "ProximaNova";
  src: url(./assets/fonts/ProximaNovaRegular.otf) format("truetype");
}

@font-face {
  font-family: "Yeseva One";
  src: url(./assets/fonts/YesevaOneRegular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

@media screen and (min-width: 1441px) {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5.7% 0 5.7%;
  font-family: "FuturaDemic";
  font-size: 14px;
  background-color: #131313;
}

.header--logo {
  color: #E3B873;
}

.header--nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 4.65% 0 4.65%;
  font-family: "FuturaBookC";
}

.header--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.header--list-item {
  color: white;
}

.header--list-item:hover {
  color: #E3B873;
  cursor: pointer;
}

.header--tel {
  color: #E3B873;
}

.header--button {
  height: 37px;
  width: 161px;
  margin-left: 45px;
  font-size: 13px;
  border: 0;
  color: white;
  background-color: #E3B873;
}

.header--button:hover {
  cursor: pointer;
  color: grey;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .header--list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 10px;
  }
}

@media screen and (max-width: 960px) {
  .header--button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header--nav {
    display: none;
  }
  .header--button {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header--button {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .header--nav, .header--button {
    display: none;
  }
  .header--tel {
    font-size: 12px;
    line-height: 14px;
    color: white;
    text-decoration: none;
  }
}

.calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #131313;
}

.calculate--instagram {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12%)[8];
      grid-template-columns: repeat(8, 12%);
  -ms-grid-rows: (12%)[6];
      grid-template-rows: repeat(6, 12%);
  width: 5.7%;
  height: 707px;
  font-family: "FuturaDemiC";
}

.calculate--instagram-link {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: #E3B873;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.calculate--instagram-line {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-left: 5px;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  height: 2px;
  width: 40px;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.calculate--main-container {
  background-image: url("./assets/images/calculate.png");
  width: 94.3%;
  padding-left: 70px;
  color: white;
}

.calculate--head-container {
  height: 100px;
  width: 550px;
  margin-top: 190px;
  font-family: "Yeseva One";
  font-size: 40px;
  text-transform: uppercase;
}

.calculate--head-colored {
  color: #E3B873;
}

.calculate--text-container {
  width: 400px;
  margin-top: 10px;
  font-family: "FuturaBookC";
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
}

.calculate--button-container {
  margin-top: 40px;
}

.calculate--button {
  width: 207px;
  height: 51px;
  margin-right: 15px;
  color: white;
  font-family: "FuturaDemiC";
  background: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.calculate--button:hover {
  background: #E3B873;
  cursor: pointer;
}

.calculate--scroll-wrapper {
  width: 247px;
  height: 97px;
  margin-top: -40px;
  font-family: "Yeseva One";
  font-size: 14px;
  color: white;
  background: #131313;
}

.calculate--scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculate--scroll-img {
  margin-left: 10px;
}

.calculate--scroll-wrapper:hover {
  background: white;
  color: gray;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .calculate--instagram, .calculate--scroll-wrapper {
    display: none;
  }
  .calculate--main-container {
    width: 100%;
  }
  .calculate--head-container {
    font-size: 30px;
    width: 90%;
  }
  .calculate--text-container {
    font-size: 18px;
  }
  .calculate--main-container {
    padding-left: 10px;
  }
  .calculate--button {
    margin-right: 5px;
  }
}

@media screen and (max-width: 475px) {
  .calculate {
    width: 100%;
    height: 476px;
    background: url(./assets/images/calculatemobile.svg);
    background-color: #131313;
  }
  .calculate--instagram, .calculate--scroll-wrapper {
    display: none;
  }
  .calculate--button {
    width: 95%;
    margin-bottom: 20px;
  }
  .calculate--button-container {
    margin-top: 20px;
  }
  .calculate--main-container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: start;
    background: none;
  }
  .calculate--head-container {
    width: 90%;
    margin: 25% 0 0 0;
  }
  .calculate--head-container {
    font-size: 23px;
    line-height: 31px;
  }
  .calculate--text-container {
    width: 85%;
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-align: start;
  }
}

.completed-projects {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". nav ." "head slider slider" "main slider slider";
  -ms-grid-rows: 130px 184px 364px;
      grid-template-rows: 130px 184px 364px;
  -ms-grid-columns: 41% 49% 10%;
      grid-template-columns: 41% 49% 10%;
  height: 678px;
  font-family: "Yeseva One";
  background: #131313;
}

.completed-projects--mobile-slider {
  display: none;
}

.completed-projects--nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.completed-projects--nav-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.completed-projects--nav-text-wrapper:hover {
  color: #E3B873;
  text-decoration: underline;
  cursor: pointer;
}

.completed-projects--head {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: head;
  padding-left: 15%;
}

.completed-projects--head-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 100;
  color: #E3B873;
}

.completed-projects--head-line {
  height: 2px;
  width: 90px;
  margin-top: 55px;
  background-color: #E3B873;
}

.completed-projects--text-wrapper {
  width: 78%;
  margin-top: 35px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 29px;
  font-weight: 100;
  color: white;
}

.completed-projects--main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.completed-projects--info-wrapper {
  width: 43%;
  text-align: center;
}

.completed-projects--info-wrapper-head {
  font-family: "Yeseva One";
  font-size: 16px;
  line-height: 25px;
  font-weight: 100;
  color: #E3B873;
}

.completed-projects--info-wrapper-text {
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: white;
}

.completed-projects--arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 14%;
}

.completed-projects--arrows-left:hover, .completed-projects--arrows-right:hover, .completed-projects--circle:hover {
  cursor: pointer;
}

.completed-projects--circle {
  width: 10px;
  height: 10px;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.3);
}

.completed-projects--circle-white {
  background: white;
}

.completed-projects--slider {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: slider;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.completed-projects--image-second {
  padding-left: 3%;
}

.completed-projects--slider-button {
  position: absolute;
  top: 35%;
  left: 87%;
}

.completed-projects--slider-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .completed-projects--head-line, .completed-projects--arrows {
    display: none;
  }
  .completed-projects--main {
    margin-top: 100px;
  }
  .completed-projects--nav {
    width: 120%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .completed-projects--slider-button {
    left: 84%;
  }
}

@media screen and (max-width: 768px) {
  .completed-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 740px;
  }
  .completed-projects--head {
    margin: 0 auto;
  }
  .completed-projects--head-wrapper {
    width: 70%;
    margin: 60px auto 0;
    padding-left: 20%;
    text-align: center;
  }
  .completed-projects--text-wrapper {
    width: 60%;
    margin: 20px auto;
  }
  .completed-projects--mobile-slider {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .completed-projects--mobile-image {
    padding-left: 15%;
    position: relative;
    z-index: 2;
  }
  .completed-projects--mobile-left {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 0px;
  }
  .completed-projects--mobile-right {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 350px;
  }
  .completed-projects--mobile-left:hover, .completed-projects--mobile-right:hover {
    cursor: pointer;
  }
  .completed-projects--main {
    margin: 0 auto;
    padding-left: 120px;
  }
  .completed-projects--nav, .completed-projects--slider {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .completed-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 731px;
  }
  .completed-projects--nav, .completed-projects--arrows, .completed-projects--slider, .completed-projects--head-line {
    display: none;
  }
  .completed-projects--head {
    margin: 0 auto;
    padding: 0;
    width: 83%;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }
  .completed-projects--head-wrapper {
    width: 90%;
    margin: 60px auto 0;
    padding-left: 20%;
  }
  .completed-projects--text-wrapper {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .completed-projects--mobile-slider {
    display: block;
    position: relative;
  }
  .completed-projects--mobile-image {
    padding-left: 0;
    position: relative;
    z-index: 2;
  }
  .completed-projects--mobile-left {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 10px;
  }
  .completed-projects--mobile-right {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 290px;
  }
  .completed-projects--mobile-left:hover, .completed-projects--mobile-right:hover {
    cursor: pointer;
  }
  .completed-projects--main {
    margin-top: 0;
    padding-left: 0;
  }
  .completed-projects--info-wrapper {
    text-align: start;
    padding-left: 20px;
  }
  .completed-projects--info-wrapper-head {
    font-size: 14px;
    line-height: 19px;
    text-align: start;
  }
  .completed-projects--info-wrapper-text {
    font-size: 14px;
    line-height: 19px;
    text-align: start;
  }
}

.online-control {
  position: relative;
  height: 541px;
}

.online-control--back-1 {
  height: 341px;
  width: 100%;
  background: #131313;
  position: absolute;
  top: -1px;
  z-index: -1;
}

.online-control--back-2 {
  width: 100%;
  height: 200px;
  background: white;
  position: absolute;
  z-index: -1;
  top: 342px;
}

.online-control--head {
  font-family: "Yeseva One";
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
}

.online-control--icon {
  margin-top: 10px;
}

.online-control--video {
  width: 917px;
  margin: 0 auto;
}

.online-control--video video:last-child {
  display: none;
}

@media screen and (max-width: 1060px) {
  .online-control {
    height: 510px;
  }
  .online-control--video {
    width: 90%;
    margin-top: 60px;
    text-align: center;
  }
  .online-control--video video:first-child {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .online-control {
    height: 430px;
  }
  .online-control--video {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .online-control--back-1 {
    top: -101px;
  }
  .online-control--head {
    margin-top: 100px;
  }
  .online-control--video video:first-child {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 475px) {
  .online-control {
    height: 368px;
    padding-top: 40px;
    background: #131313;
  }
  .online-control--back-1, .online-control--back-2,
  .online-control--video video:first-child {
    display: none;
  }
  .online-control--head {
    margin-top: 0px;
  }
  .online-control--video {
    margin: 35px 0 0 0;
    padding-left: 17px;
  }
  .online-control--video video:last-child {
    display: block;
  }
}

.broadcast {
  height: 560px;
  width: 100%;
  text-align: center;
  background: white;
}

.broadcast--icon {
  width: 55px;
  height: 2px;
  margin: 60px auto 40px;
  background: #E3B873;
}

.broadcast--text-container {
  width: 681px;
  margin: 0 auto;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.broadcast--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 0;
  width: 830px;
  font-family: "FuturaBookC";
}

.broadcast--form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  text-align: start;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.broadcast--form-name input {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.broadcast--form-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  margin-left: 60px;
  text-align: start;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.broadcast--form-tel input {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.broadcast--form-name input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.broadcast--form-name input::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.broadcast--form-tel input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.broadcast--form-tel input::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.broadcast--form-button {
  width: 200px;
  height: 51px;
  margin-left: 50px;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  border: none;
  background: #E3B873;
  color: white;
}

.broadcast--form-button:hover {
  cursor: pointer;
  color: #131313;
}

.broadcast--form-check {
  margin: 40px auto 0;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 960px) {
  .broadcast--form {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .broadcast--form-tel {
    margin-left: 0px;
  }
  .broadcast--form-button {
    margin-top: 20px;
    margin-left: 65px;
  }
}

@media screen and (max-width: 768px) {
  .broadcast--text-container {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 475px) {
  .broadcast {
    height: 505px;
    margin-top: -60px;
    padding-top: 15px;
    color: white;
    background: #131313;
  }
  .broadcast--text-container {
    width: 90%;
    font-size: 14px;
    line-height: 24px;
    color: white;
  }
  .broadcast--icon {
    margin: 60px auto 20px;
  }
  .broadcast--form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 20px auto 0;
    width: 90%;
    font-family: "FuturaBookC";
  }
  .broadcast--form-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: start;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
  }
  .broadcast--form-name input {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background: #131313;
  }
  .broadcast--form-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 45px 0 0 0;
    text-align: start;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
  }
  .broadcast--form-tel input {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background: #131313;
  }
  .broadcast--form-name input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .broadcast--form-name input::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .broadcast--form-tel input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .broadcast--form-tel input::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .broadcast--form-button {
    position: absolute;
    top: 195px;
    z-index: 5;
    width: 100%;
    margin: 0;
  }
  .broadcast--form-check {
    margin: 20px 0 0 0;
  }
}

.types-of-repair {
  height: 820px;
  width: 100%;
}

.types-of-repair--head {
  margin: 0 auto;
  height: 107px;
  width: 198px;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.types-of-repair--head-icon {
  margin-top: 10px;
}

.types-of-repair--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 5% 0 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.types-of-repair--column, .types-of-repair--image {
  position: relative;
}

.types-of-repair--list-container {
  position: absolute;
  top: 300px;
  left: 35px;
  width: 83%;
  height: 286px;
  padding: 20px 0 0 30px;
  z-index: 2;
  background: white;
}

.types-of-repair--list-container-text {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.types-of-repair--list {
  padding-left: 15px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.types-of-repair--price {
  width: 228px;
  height: 54px;
  position: absolute;
  padding-top: 15px;
  top: 550px;
  left: 35px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  vertical-align: center;
  z-index: 2;
  background: #E3B873;
}

.types-of-repair--image2 img:last-child {
  display: none;
}

@media screen and (max-width: 1170px) {
  .types-of-repair--content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .types-of-repair--column {
    width: 33%;
  }
}

@media screen and (max-width: 960px) {
  .types-of-repair {
    height: 1999px;
  }
  .types-of-repair--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .types-of-repair--column {
    margin: 0 auto 200px;
    width: auto;
  }
}

@media screen and (max-width: 475px) {
  .types-of-repair {
    height: 1808px;
    width: 100%;
    padding-top: 80px;
  }
  .types-of-repair--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 0 5% 0 5%;
  }
  .types-of-repair--head {
    font-size: 22px;
    line-height: 30px;
  }
  .types-of-repair--column {
    margin-bottom: 120px;
  }
  .types-of-repair--image img {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
  .types-of-repair--list-container {
    top: 250px;
    left: 23px;
    width: 70%;
    height: 236px;
    padding: 20px 0 0 30px;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  }
  .types-of-repair--list-container-text {
    font-size: 15px;
    line-height: 21px;
  }
  .types-of-repair--list {
    font-size: 13px;
    line-height: 22px;
  }
  .types-of-repair--price {
    width: 190px;
    height: 40px;
    position: absolute;
    padding-top: 10px;
    top: 465px;
    left: 23px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 100;
  }
  .types-of-repair--image2 img:first-child {
    display: none;
  }
  .types-of-repair--image2 img:last-child {
    display: block;
  }
}

.free-departure-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 725px;
  width: 100%;
}

.free-departure-request--picture-section {
  width: 691px;
}

.free-departure-request--circle {
  position: relative;
  height: 636px;
  width: 700px;
  top: -600px;
  left: -200px;
  border: 3px solid #E3B873;
  border-radius: 50%;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.free-departure-request--circle-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 570px;
  width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-departure-request--circle-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 180px;
  left: 644px;
  width: 420px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-departure-request--circle-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 330px;
  left: 662px;
  width: 420px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-departure-request--circle-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 490px;
  left: 585px;
  width: 420px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-departure-request--inside-circle {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  text-align: center;
  border-radius: 50%;
  border: 9px solid white;
  color: white;
  background: #E3B873;
}

.free-departure-request--form-section {
  width: 35.2%;
  padding-top: 125px;
  color: white;
}

.free-departure-request--form-container {
  width: 100%;
  height: 506px;
  margin: 0 auto;
  padding-top: 20px;
  background: #131313;
  text-align: center;
}

.free-departure-request--form-text-container {
  width: 290px;
  margin: 0 auto;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
}

.free-departure-request--form {
  width: 85%;
  margin: 0 auto;
  text-align: start;
}

.free-departure-request--name-container, .free-departure-request--tel-container, .free-departure-request--mail-container {
  padding-top: 35px;
  width: 100%;
  text-align: start;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.free-departure-request--name-container input,
.free-departure-request--tel-container input,
.free-departure-request--mail-container input {
  width: 100%;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: white;
  border: none;
  background: #131313;
}

.free-departure-request--name-container input::-webkit-input-placeholder {
  color: white;
}

.free-departure-request--name-container input::-moz-placeholder {
  color: white;
}

.free-departure-request--tel-container input::-webkit-input-placeholder {
  color: white;
}

.free-departure-request--tel-container input::-moz-placeholder {
  color: white;
}

.free-departure-request--mail-container input::-webkit-input-placeholder {
  color: white;
}

.free-departure-request--mail-container input::-moz-placeholder {
  color: white;
}

.free-departure-request--form-checkbox {
  margin-top: 25px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.free-departure-request--button {
  width: 213px;
  height: 51px;
  margin: 50px 0 0 50%;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: white;
  border: none;
  background: #E3B873;
}

.free-departure-request--foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.free-departure-request--foot img {
  margin-top: 13px;
}

@media screen and (max-width: 1240px) {
  .free-departure-request--picture-section {
    display: none;
  }
  .free-departure-request--form-section {
    width: 350px;
    margin: 0 auto;
  }
  .free-departure-request--button {
    margin: 10% 0 0 10%;
  }
}

@media screen and (max-width: 475px) {
  .free-departure-request {
    display: none;
  }
}

.wildest-fantasies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1146px;
  background: url(./assets/images/wildestfantasies.png) no-repeat;
  background-position-y: 243px;
}

.wildest-fantasies--slider {
  display: none;
}

.wildest-fantasies--list-container {
  width: 30%;
  padding: 26% 0 0 7%;
}

.wildest-fantasies--list-head {
  width: 80%;
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
}

.wildest-fantasies--photo-container {
  width: 70%;
}

.wildest-fantasies--list {
  padding-top: 45px;
  font-family: "ProximaNova";
  font-size: 19px;
  line-height: 49px;
  font-weight: 100;
  color: white;
  list-style: none;
}

.wildest-fantasies--list-item:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #E3B873;
          text-decoration-color: #E3B873;
  color: #E3B873;
  cursor: pointer;
}

.wildest-fantasies--photo-container {
  position: relative;
}

.wildest-fantasies--photo-1 {
  position: absolute;
  top: 200px;
  left: 150px;
}

.wildest-fantasies--photo-2 {
  position: absolute;
  top: 130px;
  left: 550px;
}

.wildest-fantasies--photo-3 {
  position: absolute;
  top: 800px;
  left: 150px;
}

.wildest-fantasies--photo-4 {
  position: absolute;
  top: 440px;
  left: 550px;
}

@media screen and (max-width: 1250px) {
  .wildest-fantasies {
    background-position-y: 150px;
  }
  .wildest-fantasies--photo-2, .wildest-fantasies--photo-4 {
    display: none;
  }
  .wildest-fantasies--photo-1 {
    top: 110px;
    left: 250px;
  }
  .wildest-fantasies--photo-3 {
    top: 710px;
    left: 250px;
  }
}

@media screen and (max-width: 960px) {
  .wildest-fantasies--photo-1 {
    top: 110px;
    left: 170px;
  }
  .wildest-fantasies--photo-3 {
    top: 710px;
    left: 170px;
  }
}

@media screen and (max-width: 768px) {
  .wildest-fantasies {
    background-position-y: 100px;
    height: 1000px;
  }
  .wildest-fantasies--list-container {
    padding-left: 5px;
  }
  .wildest-fantasies--photo-1 {
    top: 60px;
    left: 0px;
  }
  .wildest-fantasies--photo-3 {
    top: 660px;
    left: 0px;
  }
  .wildest-fantasies--list-head {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
  .wildest-fantasies--list {
    width: 100%;
    font-size: 16px;
    line-height: 40px;
  }
}

@media screen and (max-width: 475px) {
  .wildest-fantasies {
    height: 220px;
    padding-top: 5px;
    background: none;
    background: white;
  }
  .wildest-fantasies--slider {
    display: block;
    position: relative;
    margin-top: 30px;
  }
  .wildest-fantasies--slider-left {
    position: absolute;
    top: 100px;
    left: 17px;
  }
  .wildest-fantasies--slider-right {
    position: absolute;
    top: 100px;
    left: 290px;
  }
  .wildest-fantasies--slider-left:hover {
    cursor: pointer;
  }
  .wildest-fantasies--slider-right:hover {
    cursor: pointer;
  }
  .wildest-fantasies--list-container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .wildest-fantasies--list-head {
    width: 70%;
    margin: 0 auto;
    font-family: "Yeseva One";
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .wildest-fantasies--list, .wildest-fantasies--photo-container {
    display: none;
  }
}

.design-projects {
  height: 580px;
  width: 100%;
  font-family: "Yeseva One";
}

.design-projects--head {
  text-align: center;
  padding-top: 112px;
}

.design-projects--head-text {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
}

.design-projects--head-icon {
  margin: 15px 0 20px 0;
}

.design-projects--head-paragraph {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  color: #363636;
}

.design-projects--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 39px 5% 0 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.design-projects--column, .design-projects--image {
  position: relative;
}

.design-projects--list-container-1 {
  position: absolute;
  top: 294px;
  left: 35px;
  width: 83%;
  height: 211px;
  padding: 20px 0 0 30px;
  z-index: 2;
  background: white;
}

.design-projects--list-container-2 {
  position: absolute;
  top: 294px;
  left: 35px;
  width: 83%;
  height: 286px;
  padding: 20px 0 0 30px;
  z-index: 2;
  background: white;
}

.design-projects--list-container-3 {
  position: absolute;
  top: 294px;
  left: 35px;
  width: 83%;
  height: 414px;
  padding: 20px 0 0 30px;
  z-index: 2;
  background: white;
}

.design-projects--text {
  font-family: "Yeseva One";
  font-size: 15px;
  line-height: 25px;
  color: #363636;
}

.design-projects--list {
  padding-left: 15px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.design-projects--price-1 {
  width: 228px;
  height: 54px;
  position: absolute;
  padding-top: 15px;
  top: 475px;
  left: 35px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  vertical-align: center;
  z-index: 2;
  background: #E3B873;
}

.design-projects--price-2 {
  width: 228px;
  height: 54px;
  position: absolute;
  padding-top: 15px;
  top: 550px;
  left: 35px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  vertical-align: center;
  z-index: 2;
  background: #E3B873;
}

.design-projects--price-3 {
  width: 228px;
  height: 54px;
  position: absolute;
  padding-top: 15px;
  top: 675px;
  left: 35px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  vertical-align: center;
  z-index: 2;
  background: #E3B873;
}

.design-projects--image23 img:last-child {
  display: none;
}

.design-projects--list-item > span {
  display: none;
}

@media screen and (max-width: 1170px) {
  .design-projects {
    height: 620px;
  }
  .design-projects--content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .design-projects--column {
    width: 33%;
  }
}

@media screen and (max-width: 960px) {
  .design-projects {
    height: 1999px;
  }
  .design-projects--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .design-projects--column {
    margin: 0 auto 200px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .design-projects {
    height: 2400px;
  }
}

@media screen and (max-width: 475px) {
  .design-projects {
    height: 1960px;
    background: #131313;
  }
  .design-projects--image23 img:first-child {
    display: none;
  }
  .design-projects--image23 img:last-child {
    display: block;
  }
  .design-projects--head {
    color: white;
    padding-top: 162px;
  }
  .design-projects--head-text {
    font-size: 22px;
    line-height: 30px;
  }
  .design-projects--head-icon {
    margin: 15px 0 20px 0;
  }
  .design-projects--head-paragraph {
    display: inline-block;
    width: 77%;
    text-align: center;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    color: white;
  }
  .design-projects--content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .design-projects--column, .design-projects--image {
    position: relative;
  }
  .design-projects--column {
    margin-bottom: 60px;
  }
  .design-projects--margin {
    margin-bottom: 120px;
  }
  .design-projects--image img {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
  .design-projects--list-container-1 {
    position: absolute;
    top: 254px;
    left: 24px;
    width: 70%;
    height: 177px;
    padding: 20px 0 0 30px;
    z-index: 2;
    background: white;
  }
  .design-projects--list-container-2 {
    position: absolute;
    top: 254px;
    left: 24px;
    width: 70%;
    height: 241px;
    padding: 20px 0 0 30px;
    z-index: 2;
    background: white;
  }
  .design-projects--list-container-3 {
    position: absolute;
    top: 294px;
    left: 24px;
    width: 70%;
    height: 241px;
    padding: 20px 0 0 30px;
    z-index: 2;
    background: white;
  }
  .design-projects--list-container-3 > ul > li:nth-child(7) ~ li {
    display: none;
  }
  .design-projects--list-item > span {
    display: inline;
  }
  .design-projects--text {
    font-size: 15px;
    line-height: 21px;
    color: #363636;
  }
  .design-projects--list {
    padding: 10px 0 0 15px;
    font-family: "FuturaBookC";
    font-size: 13px;
    line-height: 22px;
    color: #959595;
  }
  .design-projects--price-1 {
    width: 190px;
    height: 40px;
    padding-top: 10px;
    top: 410px;
    left: 24px;
    font-size: 15px;
    line-height: 21px;
  }
  .design-projects--price-2 {
    width: 190px;
    height: 40px;
    padding-top: 10px;
    top: 475px;
    left: 24px;
    font-size: 15px;
    line-height: 21px;
  }
  .design-projects--price-3 {
    width: 190px;
    height: 40px;
    padding-top: 10px;
    top: 515px;
    left: 24px;
    font-size: 15px;
    line-height: 21px;
  }
}

.working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 1140px;
  padding: 464px 0 0 5.5%;
  font-family: "Yeseva One";
  background: #131313;
}

.working--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 317px;
  height: 100px;
  margin-left: -20px;
}

.working--head-header {
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 21px;
  color: white;
}

.working--head-text {
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
}

.working--head-line {
  width: 92px;
  height: 1px;
  margin: 55px 0 0 31px;
  background: #E3B873;
}

.working--steps {
  width: 765px;
  margin-left: 120px;
}

.working--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 75px;
  list-style: none;
}

.working--step {
  width: 33%;
  padding-bottom: 30px;
  color: white;
  opacity: 0.3;
}

.working--step:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-text-decoration-color: #e3b873;
          text-decoration-color: #e3b873;
}

.working--step-head {
  font-size: 15px;
  line-height: 21px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(227, 184, 115, 0.5);
          text-decoration-color: rgba(227, 184, 115, 0.5);
}

.working--step-text {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
}

.working--text-container {
  width: 331px;
  margin-top: -100px;
}

.working--text-container-number {
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.working--text-container-step-text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 23px;
  color: #E3B873;
}

.working--text-container-text {
  margin-top: 10px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: white;
}

.working--picture {
  margin-left: 170px;
}

.working--arrows {
  width: 287px;
  margin-top: 80px;
}

.working--arrows-fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.working--arrows-fig img:hover {
  cursor: pointer;
}

.working--circle {
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.working--circle:hover {
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .working {
    display: none;
  }
}

@media screen and (max-width: 838px) {
  .working {
    padding-left: 0;
  }
  .working--picture {
    margin: 0;
  }
  .working--picture > figure > img {
    width: 94%;
  }
}

@media screen and (max-width: 1359px) {
  .working {
    width: 100%;
    height: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 300px;
    padding-left: 3%;
  }
  .working--steps {
    margin-left: 50px;
  }
  .working--list {
    margin-top: 0px;
  }
  .working--text-container {
    margin: 0 auto;
  }
  .working--picture {
    margin: 0 auto;
  }
}

.team {
  position: relative;
  height: 508px;
  width: 100%;
  padding-top: 65px;
  background: #131313;
}

.team--head {
  width: 456px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.team--head-title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
}

.team--head-icon {
  margin: 10px 0 10px 0;
}

.team--head-text {
  font-family: "FuturaBookC";
  font-size: 20px;
  font-weight: 100;
  line-height: 27px;
}

.team--workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1063px;
  height: 500px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team--member {
  padding-top: 70px;
}

.team--member-image {
  position: relative;
}

.team--member-icon {
  position: absolute;
  top: -50px;
  left: -55px;
  width: 70px;
  height: 70px;
}

.team--member-info {
  position: absolute;
  z-index: 2;
  top: 290px;
  left: 20px;
  width: 85%;
  height: 130px;
  padding-top: 20px;
  text-align: center;
  background: white;
}

.team--member-name {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
}

.team--member-position {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 26px;
  color: #959595;
}

.team--member-experience {
  height: 44px;
  padding-top: 13px;
  margin-top: 13px;
  font-family: "Yeseva One";
  font-size: 13px;
  line-height: 20px;
  font-weight: 100;
  color: white;
  background: #E3B873;
}

.team--info {
  width: 555px;
  margin: 40px auto 0;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.team--line {
  margin: 0 auto 10px;
  width: 60px;
  height: 3px;
  background: #E3B873;
}

@media screen and (max-width: 1135px) {
  .team {
    height: 1900px;
  }
  .team--workers {
    height: 1400px;
    width: 270px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team--info {
    margin-top: 100px;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .team--info {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .team {
    position: relative;
    height: 1716px;
    width: 100%;
    padding-top: 60px;
    background: #131313;
  }
  .team--info {
    display: none;
  }
  .team--head {
    width: 90%;
    color: white;
  }
  .team--head-title {
    font-family: "Yeseva One";
    font-size: 22px;
    line-height: 30px;
  }
  .team--head-icon {
    width: 50%;
    margin: 10px auto 10px;
  }
  .team--head-text {
    font-family: "FuturaBookC";
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
  }
  .team--workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .team--member {
    padding-top: 120px;
  }
  .team--member-image {
    position: relative;
  }
  .team--member-icon {
    position: absolute;
    top: -55px;
    left: -55px;
    width: 70px;
    height: 70px;
  }
  .team--member-info {
    position: absolute;
    z-index: 2;
    top: 275px;
    left: 20px;
    width: 85%;
    height: 135px;
    padding-top: 20px;
    text-align: center;
    background: white;
  }
  .team--member-name {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
  }
  .team--member-position {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 26px;
    color: #959595;
  }
  .team--member-experience {
    height: 44px;
    padding-top: 13px;
    margin-top: 19px;
    font-family: "Yeseva One";
    font-size: 13px;
    line-height: 20px;
    font-weight: 100;
    color: white;
    background: #E3B873;
  }
}

.clients {
  height: 1285px;
  padding-top: 500px;
}

.clients--head {
  text-align: center;
}

.clients--head-title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  color: #131313;
}

.clients--head-image {
  margin: 12px 0 15px;
}

.clients--head-text {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.clients--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.clients--client {
  position: relative;
  width: 376px;
  height: 428px;
  padding: 20px 21px 0;
  border: 1px solid rgba(100, 100, 100, 0.1);
}

.clients--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  padding-bottom: 20px;
}

.clients--image img {
  border-radius: 50%;
}

.clients--image-text {
  width: 60%;
  padding: 15px 20px;
}

.clients--client-head {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 23px;
  color: #131313;
}

.clients--client-text {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 27px;
  color: #959595;
}

.clients--down {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  height: 54px;
  top: 400px;
  left: 0px;
  font-family: "Yeseva One";
  font-size: 17px;
  line-height: 56px;
  color: white;
}

.clients--down-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
  background: #E3B873;
}

.clients--down-left img {
  padding: 0 15px;
}

.clients--down-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  background: #E3B873;
}

.clients--down-right img {
  padding: 0 15px;
}

@media screen and (max-width: 1140px) {
  .clients--client:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1135px) {
  .clients {
    padding-top: 50px;
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .clients {
    display: none;
  }
}

.questions {
  height: 223px;
  position: relative;
  color: white;
}

.questions--form {
  position: absolute;
  z-index: 5;
  left: 20%;
  width: 883px;
  height: 445px;
  text-align: center;
  background: #131313;
}

.questions--form-container {
  margin: 20px auto 0;
  height: 377px;
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions--title-text {
  width: 100%;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 14px 0 20px;
}

.questions--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 231px;
  height: 45px;
  text-align: start;
}

.questions--tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 231px;
  height: 45px;
  margin-left: 55px;
  text-align: start;
}

.questions--question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 517px;
  height: 45px;
  text-align: start;
}

.questions--name input {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  border: none;
  background: #131313;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions--tel input {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  border: none;
  background: #131313;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions--question input {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  border: none;
  background: #131313;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions--text {
  color: rgba(255, 255, 255, 0.5);
}

.questions--name input::-webkit-input-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--name input::-moz-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--tel input::-webkit-input-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--tel input::-moz-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--question input::-webkit-input-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--question input::-moz-placeholder {
  color: white;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.questions--check {
  width: 486px;
  margin: 0 auto;
  text-align: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
}

.questions--button {
  margin: 30px auto 0;
  width: 200px;
  height: 51px;
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 26px;
  color: white;
  font-weight: 100;
  border: none;
  background: #E3B873;
}

.questions--button:hover {
  cursor: pointer;
  color: #131313;
}

@media screen and (max-width: 1135px) {
  .questions {
    width: 100%;
    height: 445px;
    position: static;
    padding: 0;
  }
  .questions--form {
    position: static;
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .questions--form {
    margin-top: 100px;
    width: 100%;
  }
  .questions--form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .questions--question {
    width: 231px;
  }
  .questions--tel {
    margin: 0 auto;
  }
  .questions--check {
    width: 100%;
    text-align: start;
    line-height: 80px;
  }
  .questions--tel {
    margin-left: 0;
  }
}

@media screen and (max-width: 475px) {
  .questions {
    margin-top: -20px;
    height: 545px;
    width: 100%;
    background: #131313;
  }
  .questions--form {
    position: static;
    margin: 0 auto;
    width: 90%;
    height: 497px;
    background: #131313;
  }
  .questions--form-container {
    height: 377px;
    width: 100%;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .questions--title-text {
    width: 100%;
    font-family: "Yeseva One";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 14px 0 30px;
  }
  .questions--name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 45px;
    text-align: start;
  }
  .questions--tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 45px;
    margin: 50px 0 0 0;
    text-align: start;
  }
  .questions--question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 45px;
    margin-top: 50px;
    text-align: start;
  }
  .questions--name input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }
  .questions--tel input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }
  .questions--question input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }
  .questions--text {
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .questions--check {
    width: 486px;
    margin: 15px 0 0 0;
    text-align: start;
    font-family: "FuturaBookC";
    font-size: 16px;
    line-height: 22px;
  }
  .questions--button {
    margin: 70px 0 0 0;
    width: 100%;
  }
}

.background-wrapper {
  width: 100%;
  height: 954px;
  padding-top: 274px;
  background: url(./assets/images/background-down.png);
  background-color: black;
}

@media screen and (max-width: 768px) {
  .background-wrapper {
    margin-top: 100px;
    height: 600px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 475px) {
  .background-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 472px;
    padding: 0;
    margin-top: 0;
    background: none;
    background: #131313;
  }
}

.contacts {
  width: 589px;
  height: 148px;
  margin: 0 auto;
}

.contacts--text {
  font-family: "Yeseva One";
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.contacts--text > p > br {
  display: none;
}

.contacts--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 26px auto 0;
  width: 71px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts--icons > figure:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contacts {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .contacts {
    width: 100%;
  }
  .contacts--text {
    width: 82.6%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
  }
  .contacts--text > p > br {
    display: initial;
  }
  .contacts--icons > figure:last-child {
    margin-left: 30px;
  }
  .contacts--icons > figure > img {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.map {
  width: 100%;
}

.map--figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.map--figure img:last-child {
  display: none;
}

@media screen and (max-width: 960px) {
  .map--figure {
    width: 90%;
  }
  .map--figure img:first-child {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .map--figure {
    width: 95%;
  }
  .map--figure img:first-child {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 475px) {
  .map--figure {
    width: 100%;
    margin: 0 auto;
  }
  .map--figure img:first-child {
    display: none;
  }
  .map--figure img:last-child {
    display: inline;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 133px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5.7% 0 5.7%;
  font-family: "FuturaDemic";
  font-size: 14px;
  background-color: #131313;
}

.footer--logo {
  color: #E3B873;
}

.footer--nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 4.65% 0 4.65%;
  font-family: "FuturaBookC";
}

.footer--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.footer--list-item {
  color: white;
}

.footer--list-item:hover {
  color: #E3B873;
  cursor: pointer;
}

.footer--tel {
  color: #E3B873;
}

.footer--button {
  height: 37px;
  width: 161px;
  margin-left: 45px;
  font-size: 13px;
  border: 0;
  color: white;
  background-color: #E3B873;
}

.footer--button:hover {
  cursor: pointer;
  color: grey;
  background-color: white;
}

@media screen and (max-width: 475px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .footer--list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 10px;
  }
}

@media screen and (max-width: 960px) {
  .footer--button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer--nav {
    display: none;
  }
  .footer--button {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footer--button {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */